<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Express To-do App</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <h1>Express To-do App</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item..." required>
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <% todos.forEach((obj) => { %>
                       <li><%= obj.item %></li>
                <% }); %>
            </ul>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="/assets/main.js"></script>
    </body>
</html>